.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #374151; /* text-gray-700 */
  margin-bottom: 0.5rem;
}

.input {
  padding: 0.75rem;
  border: 1px solid #d1d5db; /* border-gray-300 */
  border-radius: 0.375rem;
}

.button {
  padding: 0.5rem 1rem;
  background-color: #4f46e5; /* indigo-600 */
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.button:hover {
  background-color: #4338ca; /* indigo-700 */
}

.deleteButton {
  background-color: #ef4444; /* red-500 */
}

.deleteButton:hover {
  background-color: #dc2626; /* red-600 */
}